.container{
    
    box-shadow: 0px 10px 20px rgba(0, 10, 62, 0.05);

    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 896px;

    @media (max-width: 920px){
        width: 100%;
        max-width: 672px;
        }

    @media (max-width: 700px){
        width: 100%;
        max-width: 448px;
    }

    @media (max-width: 470px){
        width: 100%;
        max-width: 224px;
    }

}