.wrapper{
    display: flex;
    flex-basis: 82.22%;
    margin-top: 1.67vh;
    margin-left: 6.74vh;
    margin-right: 11.04vh;
}
.container{
    width: 100%;

  
    >nav{
        width: 100%;
    }
    .layoutLogo{
        cursor: pointer;
        .layoutLogoIcon{
            width: 102px;
        }
    }
    li{
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
    .layoutLeft{
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        .layoutMenu{
         
            a:hover{
                text-decoration: none ;
            }
            .layoutMenuSell{
                width:131px;
                height:31px;

                display: flex;
                align-items: center;
                justify-content: center;
                
                margin-left: 15px;

                background: #349A89;
                border: none;
                border-radius: 4px;
                .layoutMenuSellText{
                    font-family: Helvetica;
                    font-size: 14px;
                    line-height: 31px;
                    /* identical to box height, or 221% */

                    text-transform: uppercase;

                    color: #FFFFFF;
                }
            }
        }
        .layoutLogin{
            margin-left: 33px;

            .layoutLoginText{
                    
                font-family: Helvetica;
                font-size: 12px;
                line-height: 40px;
                /* identical to box height, or 333% */

                letter-spacing: 1px;
                text-transform: uppercase;

                color: #2B2B2B;
            }
        }
    }
}
