.DropdownInput{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.DropdownInputMenu{
    min-height: 0px !important;
    height: auto !important;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    right: 0 !important;
}
