.sendWrapper{
    display: flex;
    textarea{
        overflow-y: hidden;
        width: 100%;
        max-height: 100px;
        height: 51px;
        border: 1px solid #E9EBF2;
        box-sizing: border-box;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 22px;
        /* identical to box height, or 169% */
        padding: 17px 20px;

        color: #97A3B4;
        resize: none;
    }

    button{
        background: #349A89;
        border: none;

        font-family: Helvetica;
        font-size: 14px;
        line-height: 31px;
        /* identical to box height, or 221% */
        padding: 10px 20px;

        text-transform: uppercase;

        color: #FFFFFF;
    }

}