.container{
    display: flex;
    margin: 0 auto;
    
    width: 70.5%;
    @media (max-width: 860px){
        width: 75.5%;
    }
    @media (max-width: 650px){
        width: 90.5%;
        flex-direction: column;
        .containerOwner{
            margin-top: 10px;
        }
    }
    margin-bottom: 15px;
    margin-top: 20px;
}
.containerProduct{
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-right: 12.8px;

    flex: 4;

    background: #FFFFFF;
    border: 1.08px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(121, 121, 121, 0.0527344);
    border-radius: 4.32px;
    .iconWrapper{
        position: relative;
        margin: 3.24px 2.7px 0 3.78px;
        
        overflow: hidden;
        max-width: 100%;
        max-height: 300px;

        background: rgba(240, 241, 250, 0.714);

        border-radius: 4.32px 4.32px 0px 0px;
        >img{
            margin: 0 auto;
            max-width: 100%;
            max-height: 300px; 
        }
        .priceWrapper{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index:100;
            height: 28px;
            width: 110px;
            
            display: flex;
            justify-content: center;
            align-items: flex-end;

            background: #FFFFFF;
            border-radius: 10.8px 0px 0px 0px;
            .price{
                font-family: Helvetica;
                font-size: 19.44px;
                line-height: 22px;

                color: #101010;
            }
        }
    }
    .titleCreateAtWrapper{
        margin: 10.8px 10px 0 19.44px;
        display: flex; 
        align-items: center;

        .title{
            flex-direction: column;
            word-break: break-all;   

            font-family: Helvetica;
            font-size: 18.36px;
            line-height: 21px;
            
            color: #373738;
        }
        .createdAt{
            margin: 4.32px 10px 0.68px 7px;

            font-family: Helvetica;
            font-size: 14.04px;
            line-height: 16px;
            
            color: #9D9D9D;
        }
    }
    .locationWrapper{
        display: flex;
        align-items: center;
        margin: 1.68px 10px 0 19.44px;
        .location{
            margin-left: 11.88px;
            
            flex-direction: column;
            word-break: break-all;   
            
            font-family: Helvetica;
            font-size: 14.04px;
            line-height: 33px;
            /* identical to box height, or 238% */
            color: rgba(123, 123, 123, 0.776523);
        }
    }
    .delimiter{
        margin: 4.88px 3.24px 0 20.52px;

        border: 1.08px solid rgba(151, 151, 151, 0.166439);
    }
    .description{
        margin: 12.96px 18.36px 8.64px 19.44px;

        flex-direction: column;
        word-break: break-all;       
         
        font-family: Helvetica;
        font-size: 14.04px;
        line-height: 24px;

        color: #2B2B2B;
    }
}
.containerOwner{
    flex: 2;
}
.chatBtn{
    cursor: pointer;
    height: 47px;
    margin-top: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #349A89;
    border-radius: 4px;

    font-family: Helvetica;
    font-size: 14px;
    line-height: 31px;
    /* identical to box height, or 221% */

    text-transform: uppercase;

    color: #FFFFFF;
}
.noSavedProduct{
    svg{
        flex:0;
        
    }
}
.savedProduct, .noSavedProduct{
    cursor: pointer;
    margin-top: 19px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #FFFFFF;
    border: 1px solid #349A89;
    box-sizing: border-box;
    border-radius: 4px;
    
    font-family: Helvetica;
    font-size: 14px;
    line-height: 31px;
    /* identical to box height, or 221% */
    
    text-transform: uppercase;
    
    color: #535353;
    
    svg{
        width: 18.34px;
        min-width:17px;
        margin: 16px 14px;

    }
    .titleBtnSave{
        flex: 1;
        margin-top:8px;
        margin-bottom:8px;
        text-align: center;
    }
}